fastapi
dotenv
uvicorn
python-multipart
sqlmodel
psycopg2-binary
langchain
langchain-community
langchain-ollama
qdrant-client
pypdf
langchain-text-splitters
fastembed
pytest
pytest-asyncio
pytest-mock
httpx
passlib[bcrypt]
bcrypt==3.2.2
pyjwt
pydantic[email]